body,
.mainBody {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.themeContainer {
  margin-top: 15rem;
  height: 15rem;
  border-radius: 1rem;
  align-items: center;
  text-align: center;
  padding: 40px;
}
